################################################
#            BiMon specific ignores            #
################################################
# BiMon data directories
versions
projects
workspace

# BiMon internal state
state/bundle_map
state/history
state/git_cache
state/execution_cache

# Per user state
config.ini
compile_error_commits
ignored_commits



################################################
# Random stuff from some CC0 repo's .gitignore #
################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PEP 582
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc